[include mainsail.cfg]
[include macros.cfg]
#[include timelapse.cfg]              # delete # if timelapse.cfg will be used


############################################
# Stepper
############################################

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA7
position_min: -3
position_endstop: -3
position_max: 260 ; 245 old 
homing_speed: 50.0

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC13
microsteps: 16
rotation_distance: 32
endstop_pin: !PC5
position_min: -10
position_endstop: -10
position_max: 250
homing_speed: 50.0

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC14
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop ; Virtual Probe active
position_max: 260 ; More Movement to the right old250
position_min: -5
homing_speed: 5.0

[stepper_z1]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC15
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PA15
microsteps: 16
rotation_distance: 22.5651019               #has to be calibrated by everyone
gear_ratio: 50:17
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_kp: 28.937
pid_ki: 1.295
pid_kd: 161.688
min_temp: 0
max_temp: 260
max_extrude_cross_section: 50.0

############################################
# FANS
############################################

[heater_fan extruder_fan]
pin: PB1

[fan]
pin: PA0

[temperature_fan Mainboard]
pin: mcu:PA14
sensor_type: temperature_mcu
max_power: 1.0
shutdown_speed: 1.0
hardware_pwm: false
kick_start_time: 0.5
off_below: 0.4
max_temp: 100
min_temp: 20
target_temp: 50
max_speed: 1.0
min_speed: 0.3
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1

############################################
# Heatbed & Mesh & Z-Tilt
############################################

[heater_bed]
heater_pin: PA4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
control: pid
pid_kp: 67.648
pid_ki: 1.044
pid_kd: 1095.893
min_temp: 0
max_temp: 110

[bed_mesh]
mesh_min: 13,7
mesh_max: 207, 227
probe_count: 6,6
mesh_pps: 2,3
algorithm: bicubic
speed: 50
horizontal_move_z: 7

[z_tilt]
z_positions:
    -30,135
    275,135
points:
    60,105
    260,105
speed: 140
horizontal_move_z: 7
retries: 7
retry_tolerance: 0.015

[safe_z_home]
home_xy_position: 175.5,100 ; Virtual Probe in the middle of the bed
z_hop: 10

#######################################
#              BL Touch               #
#######################################
[bltouch]
sensor_pin: ^PB10
control_pin: PB11
z_offset: 0
x_offset: -53
y_offset: 15
samples: 1
speed: 5
#samples_tolerance: 0.075
#samples_tolerance_retries: 3
#samples_result: average

############################################
# sonstiges
############################################

[output_pin LED]
pin: mcu:PA13
pwm: False
value: 0

[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: PA5

[output_pin beeper_pin]
pin: PB15
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001

#[input_shaper]
#shaper_freq_x: 86.2
#shaper_type_x: mzv
#shaper_freq_y: 39.6
#shaper_type_y: mzv

[temperature_sensor Raspi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

############################################
# MCU & Printer
############################################

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 1500            
max_accel_to_decel: 1500  
max_z_velocity: 5
max_z_accel: 100

############################################
# Input Shaper Config
############################################

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    122.5,125,20 

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

