#####################################################################
#   Full Homing G28 Checkup                                         #
#####################################################################

[gcode_macro _CG28]
; Check if G28 is done
description: Helper: Conditional homing
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
    {action_respond_info("Homing active!")}
    G28
  {% else %}
    M117 All Axes homed!
    {action_respond_info("All Axes homed!")}
  {% endif %}
