# 
# Start Code Superslicer:
# START_PRINT T_BED=[first_layer_bed_temperature] T_EXTRUDER=[first_layer_temperature]
#
# Start Code Cura (activate relative extrusion in cura / aktiviere Relative Extrusion in Cura):
# START_PRINT T_BED={material_bed_temperature_layer_0} T_EXTRUDER={material_initial_print_temperature}
######################################################################

[gcode_macro START_PRINT]
description: All what needs to be done at print start
gcode:
    #### set defaults ####
    {% set t_extruder = params.T_EXTRUDER|default(0) %}
    {% set t_bed = params.T_BED|default(0) %}
    #### end off definition  ####
	M190 S{bed}                              ; Bed heat up
	G28                                      ; Home
	Z_TILT_ADJUST				 ; Z-Tilt
	G28 Z					 ; Home Z after Z-Tilt
        M109 S{extruder}                         ; Extruder heat up and wait
        M83                                      ; Extruder relative mode
	G1 X0 Y0 F2200				 ; Go to front
	G92 E0.0                                 ; Reset extruder length
	G90                                      ; Absolute positioning
	PRIME_LINE                               ; First move 


######################################################################
# PRIME LINE
######################################################################

[gcode_macro PRIME_LINE]
description: Do a prime line
gcode:
    G1 X0.1 Y20 F5000.0             ; Move to start position
    G1 Z0.2 F240                    ; move nozzle and bed closer together
    G92 E0.0                        ; reset extruder
    G1 E5.0 F500                    ; pre-purge prime LENGTH SHOULD MATCH YOUR PRINT_END RETRACT
    G1 Y190 E15.0 F1500.0           ; intro line
    G1 X2.3 F5000                   ; move over a bit
    G1 Y10 E30 F1200.0              ; intro line
    G92 E0.0                        ; reset extruder
    G1 Z2.0 F3000                   ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0          ; Move over to prevent blob squish
 
######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# END PRINT
######################################################################

[gcode_macro END_PRINT]
description: All what needs to be done at print end
gcode:
    TURN_OFF_HEATERS                         ; Turn off bed and nozzle
	G91                                      ; Relative positioning
	G1 E-1 F3000                             ; Retract
	G1 X-0.5 Y-0.5 Z5 E-5                    ; Move a bit and retract filament even more
	G90                                      ; Absolute positioning
	G1 X0 Y200 F2200                         ; Move bed to front
	M107                                     ; Turn off part fan
	M84                                      ; Steppers off
	G90                                      ; Absolute positioning
	M117 Print done                          ; Send finish to display
    M300 S932 P428                           ; Airwolf Sound
    M300 S0 P214
    M300 S1244 P214
    M300 S1396 P214
    M300 S1661 P214
    M300 S932 P214
    M300 S0 P428
    M300 S2217 P214
    M300 S2093 P214
    M300 S1661 P214
    M300 S932 P428
    M300 S0 P428
    M300 S2217 P214
    M300 S2093 P214
    M300 S1661 P214
    M300 S932 P428
    M300 S0 P214
    M300 S1661 P214
    M300 S2093 P214
    M300 S1396 P428
    M300 S1244 P428
    M300 S1108 P214
    M300 S1244 P214
    M300 S1046 P214
    M300 S1661 P214
    M300 S932 P21

######################################################################
# PAUSE PRINT
######################################################################

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
    {%set act_extrude_temp = printer.extruder.temperature|int %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if act_extrude_temp > min_extrude_temp %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 

######################################################################
# RESUME PRINT
######################################################################

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
    {%set act_extrude_temp = printer.extruder.temperature|int %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if act_extrude_temp > min_extrude_temp %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}


######################################################################
# Pressure Advance Calibration
######################################################################

[gcode_macro PA_Calibration]
description: Adjust Velocity and PA parameters for bowden extruder
gcode:
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.020

######################################################################
# PID MACRO
######################################################################

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60

[gcode_macro PID_Extruder]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200


######################################################################
# Motor Off
######################################################################

[gcode_macro Motor_aus]
gcode:
  M18

######################################################################
# M300 - Pieper
######################################################################

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper_pin VALUE=0.85 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper_pin VALUE=0

######################################################################
# Wartungsposition 
######################################################################
[gcode_macro Wartungsposition]
gcode:
    G28
    # Absolute mode on
    G90
    # Wartungskoordinate
    G1 X110 Y120 Z105 F1000
    # Relative Mode on
    G91
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Disable steppers
    # M84

#######################################
#              BLT Test               #
#######################################
[gcode_macro BLT_Test]
description: BLTouch Test
gcode:
 {action_respond_info("Move Pin down")}
 BLTOUCH_DEBUG COMMAND=pin_down
 G4 P2000
 {action_respond_info("Pin is down")}
 {action_respond_info("Move Pin up")}
 BLTOUCH_DEBUG COMMAND=pin_up
 G4 P2000
 {action_respond_info("Pin is up")}
 {action_respond_info("Move Pin down")}
 BLTOUCH_DEBUG COMMAND=pin_down
 G4 P2000
 {action_respond_info("Pin is down")}
 {action_respond_info("Touchmode On")}
 BLTOUCH_DEBUG COMMAND=touch_mode
 G4 P2000
 QUERY_PROBE
 {action_respond_info("Pin Should show open")}
 G4 P2000
 {action_respond_info("Pin Should show Move Pin a little bit up")}
 G4 P3000
 QUERY_PROBE
 {action_respond_info("Pin Should show triggert")}
 G4 P2000
 {action_respond_info("Move Pin up")}
 BLTOUCH_DEBUG COMMAND=pin_up
 G4 P2000
 {action_respond_info("Pin is up")}

#######################################
#              BLT Down               #
#######################################
[gcode_macro BLT_down]
description: BLTouch Move down
gcode:
 {action_respond_info("Move Pin down")}
 BLTOUCH_DEBUG COMMAND=pin_down

#######################################
#              BLT UP                 #
#######################################
[gcode_macro BLT_up]
description: BLTouch Move Up
gcode:
 {action_respond_info("Move Pin up")}
 BLTOUCH_DEBUG COMMAND=pin_up

#######################################
#              BLT Touchmode          #
#######################################
[gcode_macro BLT_tm]
description: BLTouch Touchmode
gcode:
 {action_respond_info("BLT Touchmode on")}
 BLTOUCH_DEBUG COMMAND=touch_mode

#######################################
#              BLT Cali Positio       #
#######################################
[gcode_macro BLT_pos]
description: BLTouch Touchmode
gcode: 
# Absolute mode on
    G90
    # Wartungskoordinate
    G1 X170 Y95 F2000
    # Relative Mode on
    G91

