####################
# Android Controls #
####################
[gcode_shell_command adledon]
command: wget -q http://192.168.1.111:8080/enabletorch
verbose: False
[gcode_macro ADLEDON]
gcode:
    RUN_SHELL_COMMAND CMD=adledon

[gcode_shell_command adledoff]
command: wget -q http://192.168.1.111:8080/disabletorch
verbose: False
[gcode_macro ADLEDOFF]
gcode:
    RUN_SHELL_COMMAND CMD=adledoff

[gcode_shell_command adfocusoff]
command: wget -q http://192.168.1.111:8080/nofocus
verbose: False
[gcode_macro ADFOCUSOFF]
gcode:
    RUN_SHELL_COMMAND CMD=adfocusoff

[gcode_shell_command adfocuson]
command: wget -q http://192.168.1.111:8080/focus
verbose: False
[gcode_macro ADFOCUSON]
gcode:
    RUN_SHELL_COMMAND CMD=adfocuson

[gcode_shell_command adzoomon]
command: wget -q http://192.168.1.111:8080/ptz?zoom=60
verbose: False
[gcode_macro ADZOOMON]
gcode:
    RUN_SHELL_COMMAND CMD=adzoomon

[gcode_shell_command adzoomoff]
command: wget -q http://192.168.1.111:8080/ptz?zoom=0
verbose: False
[gcode_macro ADZOOMOFF]
gcode:
    RUN_SHELL_COMMAND CMD=adzoomoff

################
# IOS Conrtols #
################

[gcode_shell_command iosled]
command: curl -X PUT http://192.168.1.149:4747/v1/camera/torch_toggle
verbose: False
[gcode_macro IOSLED]
gcode:
    RUN_SHELL_COMMAND CMD=iosled

[gcode_shell_command iosfocuson]
command: curl -X PUT http://192.168.1.149:4747/v1/camera/autofocus
verbose: False
[gcode_macro IOSFOCUSON]
gcode:
    RUN_SHELL_COMMAND CMD=iosfocuson

[gcode_shell_command ioszoomon]
command: curl -X PUT http://192.168.1.149:4747/v2/camera/zoom_level/60
verbose: False
[gcode_macro IOSZOOMON]
gcode:
    RUN_SHELL_COMMAND CMD=ioszoomon

[gcode_shell_command ioszoomoff]
command: curl -X PUT http://192.168.1.149:4747/v2/camera/zoom_level/0
verbose: False
[gcode_macro IOSZOOMOFF]
gcode:
    RUN_SHELL_COMMAND CMD=ioszoomoff

