[delayed_gcode _CHECK_CONFIG]
initial_duration: 0.1
gcode:
  ## _USER_VARIABLE einmal beim starten ausführen
  {% if printer['gcode_macro _USER_VARIABLE'] is not defined %}
    { action_respond_info(
      "CONFIG: ERROR\n"
      "_USER_VARIABLE macro missing\n"
      "This holds common variables for your printer and must be defined") }
  {% else %}
     _USER_VARIABLE
    { action_respond_info("User Variablen geladen") }
  {% endif %}
