/* .
This is a dark-mode theme vyper for mainsail
*/

:root {
    --Primary:        #282a36;    /*Voron:Black*/
    --Secondary:      #ff5555;    /*Voron:Red*/
    --c_red:         #ff0000;    /*cryd_red*/
    --c_gray:         #2b2b2b;    /*cryd:grey*/
    --Blue:           #00eafb; 
    --Red:            #ff5555;
    --Warnings:       #00eafb;
    --Text:           #f8f8f2;
    --DarkerText:     #f5f5f2;
    --Background:     #44475a;
    --DarkBackground: #282a36;
    --Toolbars:       #44475a;
    --Sheets:         #282a36;   
}

#nav-header .v-toolbar__title {
    font-size: 24px;
    vertical-align: middle;
    color: #00eafb;
    font-family: monospace;
}

.v-application .warning {
    background-color: var(--c_red) !important;
    border-color: var(--c_red);
}

.v-application .primary {
    background-color: var(--c_grey) !important;
    border-color: var(--c_red) !important;
}

.v-application .success--text {
    color: var(--c_red) !important;
    caret-color: var(--c_red) !important;
}

.v-application .primary--text {
    color: var(--c_red) !important;
    caret-color: var(--c_red) !important;
}

.v-application a {
    color: var(--c_red);
}

 .v-btn:not(.v-btn--outlined).warning {
    color: var(--c_grey) !important;
}

.v-btn:not(.v-btn--outlined).accent, .v-btn:not(.v-btn--outlined).error, .v-btn:not(.v-btn--outlined).info, .v-btn:not(.v-btn--outlined).primary, .v-btn:not(.v-btn--outlined).secondary, .v-btn:not(.v-btn--outlined).success {
    color: #f8f8f2 !important;
}

.v-application .text-body-2, .v-application .text-button {
    color: var(--c_red);
}

.v-progress-circular__overlay .v-card__text {
    stroke: var(--c_red) !important;
}

.v-slider__track-fill.primary {
    background-color: var(--c_red) !important;
    border-color: var(--c_red) !important;
}

.v-slider__thumb.primary {
    background-color: var(--c_red) !important;
    border-color: var(--c_red) !important;
}

/*
    CHANGE content of icons 
    Material Desgin Icons can be found on https://pictogrammers.github.io/@mdi/font/5.2.45/
*/

/* "Cog"/Gearwheel to Wrench */
.mdi-cog:before {
    content: "\F05B7";
}

/* Heatbed to Campfire */
.mdi-radiator-disabled:before {
    content: "\F0238";
}

/* Heatbed to Campfire */
.mdi-radiator:before {
    content: "\F0238";
}

/* Thermometer to Temp Chart */
.mdi-thermometer-lines:before {
    content: "\F0FA7";
}

/* Controls to Camera Control Slider */
.mdi-gamepad:before {
    content: "\F0B69";
}

/* Code-Tags to Keyboard */
.mdi-code-tags:before {
    content: "\F0313";
}

/* Dipswitch to Tune */
.mdi-dip-switch:before {
    content: "\F062E";
}

/* Home to Home Group */
.mdi-home:before {
    content: "\F0DD4";
}

/* Arrow-collapse vertical to single bar collapse */
.mdi-arrow-collapse-vertical:before {
    content: "\F0622"
}

/* Send arrow to telegram arrow */
.mdi-send:before {
    content: "\F0501"
}

/* console to boxed console */
.mdi-console-line:before {
    content: "\F018D"
}

/* "Cog"/Gearwheel to Wrench */
.mdi-wrench:before {
    content: "\F0493";
}

/* Dashboard Monitor to Dashboard window */
.mdi-monitor-dashboard:before {
    content: "\F0A1D";
}

/* History to Profile History */
.mdi-history:before {
    content: "\F0B56";
}

/* Printer Dashboard to 3d Printer */
.mdi-view-dashboard-outline:before {
    content: "\F042B";
}
